@{
    ViewData["Title"] = "Home Page";
    @using SearchWebApp.Models;
    @using SearchWebApp.Controllers;
}

<table class="table ">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Имя</th>
            <th>Вопрос</th>
            <th>Кол-во ответов</th>
        </tr>
    </thead>
    <tbody>

        @if (HomeController.Items != null)
        {
            @foreach (var item in HomeController.Items)
            {
                @if (@item.answer_count > 0)
                {
                    <tr class="table-success">
                        <td>@item.LastActivityDate()</td>
                        <td>@item.owner.display_name</td>
                        <td> <a href="@item.link" target="_blank">@item.title</a></td>
                        <td>@item.answer_count</td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td>@item.LastActivityDate()</td>
                        <td>@item.owner.display_name</td>
                        <td> <a href="@item.link" target="_blank">@item.title</a></td>
                        <td>@item.answer_count</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>